* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #fff;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

.login {
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 5px rgba(107, 107, 107, 0.4);
    border-radius: 10px;
}

.login h1 {
    padding-bottom: 20px
}

.login-process {
    display: flex;
    flex-direction: column;
}

#email, #passwort {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    padding: 10px 20px;
    font-weight: bold;
    background-color: rgb(123, 199, 224);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: rgb(105, 177, 201);
  }