* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #fff;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

.box {
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 5px rgba(107, 107, 107, 0.4);
    border-radius: 10px;
}

.box h1 {
    padding-bottom: 20px;
    color: #222222;
}

.login-process {
    display: flex;
    flex-direction: column;
}

#email, #passwort {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.content {
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
}

.content .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content input {
    width: 15px;
    height: 15px;
}

.content label {
    color: #222222;
    user-select: none;
    padding-left: 5px;
}

.login-button {
    padding: 10px 20px;
    font-weight: bold;
    background-color: #4ea9ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #339DFF;
  }

.signup-link {
    color: #222222;
    font-size: 14px;
    margin-top: 40px;
    text-align: center;
}

.signup-link a, .pass-link a{
    color: #4158d0;
    text-decoration: none;
}

.signup-link a:hover, .pass-link a:hover {
    text-decoration: underline;
}